<%- include("headers") -%>
<h1 class="todolist-header"><%= mytitle %></h1>
<div class="list-content">
<ul>
    <%   workcontent.forEach(function(work){ %>
        <form action="/workdelete" method="post">
        <div class="item">
        <input type="checkbox"  onChange="this.form.submit()" value="<%= work._id %>" name="worker">
        </form>
        <p> <%= work.name%></p>
        </div>
    <% }) %>
    <form action="/" method="POST">
        <div class="lastman">
      <input type="text" placeholder="New-Item" autocomplete="off" name="second">
       <button type="submit" name="list" class="butt" value="worklist">+</button>
    </div></form>
</ul>
</div>
<%- include("footer") -%>